/* You can add global styles to this file, and also import other style files */
$meli_yellow: #ffe600;
$meli_black: #333;
$meli_garay_one: #666;
$meli_gray_two: #999;
$meli_gray_three: #eee;
$meli_blue: #3483fa;
