@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/space.scss";

.product-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: $s_padding 0;
  cursor: pointer;
  outline: none;

  .image {
    border-radius: 4px;
    width: 40%;
    height: 100%;
    max-width: 180px;
    max-height: 180px;
    margin-right: $s_padding;
  }
}

.information-product-container {
  width: 50%;
  @media (min-width: 1200px) {
    width: 75%;
  }
}

.price-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: $m_padding;

  .price {
    margin-right: 8px;
    font-size: 24px;
  }
  .imageAvailable {
    width: 16px;
    height: 16px;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75%;
  .description {
    font-size: 18px;
  }
}

.city-container {
  .city {
    display: none;
    font-size: 12px;
    color: $meli_gray_two;

    @media (min-width: 720px) {
      display: flex;
    }
  }
}
