<div class="product-item-container" [routerLink]="['./detail', product.id]">
  <img class="image" [src]="product.thumbnail" alt="image-product" />
  <div class="information-product-container">
    <div class="price-container">
      <div class="price">{{ product.price | currency }}</div>
      <img class="imageAvailable" src="assets/ic_shipping@2x.png.png" />
    </div>
    <div class="description-container">
      <div class="description">{{ product.title }}</div>
    </div>
  </div>
  <div class="city-container">
    <div class="city">{{ product.address.state_name }}</div>
  </div>
</div>
