<div class="detail-product-container">
  <div class="image-description">
    <img
      class="image"
      src="https://source.unsplash.com/random"
      alt="logo-detail"
    />
    <div class="description-container">
      <div class="title">Descripcion del producto</div>
      <div class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ducimus
        nobis voluptatibus iste quia, nesciunt quas odit. Iste voluptatem
        suscipit est iusto molestias. Quod dolore, consequuntur nulla provident
        iure eaque.
      </div>
    </div>
  </div>
  <div class="price-drescription">
    <div class="ammount">Nuevo - 234 Nuevos</div>
    <div class="title">Deco Reverse Sombrero Oxford</div>
    <div class="price">$ 1.900 <span class="cents">00</span></div>
    <button class="btn-primary">Comprar</button>
  </div>
</div>
