<div class="detail-product-container" *ngIf="product$ | async as product">
  <div class="image-description">
    <img class="image" [src]="product.secure_thumbnail" alt="logo-detail" />
    <div class="description-container">
      <div class="title">Descripción del producto</div>
      <div>
        {{ product.subititle }}
      </div>
    </div>
  </div>
  <div class="price-drescription">
    <div class="ammount">
      {{ product.condition }} - {{ product.initial_quantity }}
      {{ product.condition }}
    </div>
    <div class="title">{{ product.title }}</div>
    <div class="price">
      {{ product.price | currency }}
    </div>
    <button class="btn-primary">Comprar</button>
  </div>
</div>
