<div class="detail-product-container" *ngIf="product$ | async as product">
  <div class="image-description">
    <img class="image" [src]="product.item.picture" alt="logo-detail" />
    <div class="description-container">
      <div class="title">Descripción del producto</div>
      <div>
        {{ product.item.description }}
      </div>
    </div>
  </div>
  <div class="price-drescription">
    <div class="ammount">
      {{ product.item.condition }} - Vendidos {{ product.item.sold_quantity }}
    </div>
    <div class="title">{{ product.item.title }}</div>
    <div class="price">
      {{ product.item.price.amount | currency }}
    </div>
    <button class="btn-primary">Comprar</button>
  </div>
</div>
